:root {
    --main-bg-color: #fff;
    --primery-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --accent-white-color: rgba(255, 255, 255, 1);
    --second-accent-white-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color: var(--primery-text-color)
}

.list {
    list-style: none;
}

/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .link:focus {
    color: #80c6ff;
}

/* Auth-nav */

.auth-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

.auth-nav .link:hover {
    color: var(--accent-color);
}

.auth-nav .link:focus {
    color: #80c6ff;
}

.auth-nav .tell {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

/* Шапка */

.site-nav .link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

/* Навігація */

.section-button li {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
    
}

/* Список робіт */

.section-img h2 {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.section-img p {
    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

/* Футер */

.address {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.address span {
    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}