:root {
--main-bg-color: #fff;
--primery-text-color: rgba(117, 117, 117, 1);
--title-text-color: rgba(33, 33, 33, 1);
--accent-color: #2196F3;
--white-color: #ffffff;
--accent-white-color: rgba(255, 255, 255, 1);
--second-accent-white-color: rgba(255, 255, 255, 0.6);
--background-color: rgba(47, 48, 58, 1);
--second-background-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--primery-text-color)
}

.list {
    list-style: none;
}

/* Site-nav */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
}

.site-nav .site-item + .site-item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .link:focus {
    color: #80c6ff;
}

/* Auth-nav */
.auth-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}
.auth-nav .link:hover {
    color: var(--accent-color);
}

.auth-nav .link:focus {
    color: #80c6ff;
}

.auth-nav .tell {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

/* Навігація */

.page-nav {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 15px 50px;
}

.section-button {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px 22px;

    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
}

.button {
    display: inline-block;
    height: 38px;
    padding: 6px 22px;
    border-style: none;
    border-radius: 5px;

    background-color: var(--second-background-color);
}

.button:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 2px rgba(117, 117, 117, 1);
}

.button-item + .button-item {
    margin-left: 8px;
}

/* Список робіт */

.page-img {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 94px;
}

.section-img {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.section-img .title {
    margin-top: 0px;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.section-img .text {
    margin: 0px;

    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

.img-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.img-item:nth-child(3n) {
    margin-right:0px;
}

.img-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.card-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-content {
    background-color: var(--white-color);
    border: 1px solid #EEEEEE;
    /* box-sizing: border-box; */
    border-radius: 5px;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 24px;
}



/* Футер */

.footer-container {
    background-color: var(--background-color);
}

.footer-section {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 60px;

    background-color: var(--background-color);
}

.footer-address {
    margin-right: 100px;
}

.address {
    display: flex;
    flex-direction: column;
}

.address .adress-map {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.address .adress-link {
    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}

.join {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--white-color);
}

.copyright-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;

    background-color: var(--background-color);
}

.copyright {
    margin: 0px;
    padding: 15px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);

    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}