:root {
--main-bg-color: #fff;
--primery-text-color: rgba(117, 117, 117, 1);
--title-text-color: rgba(33, 33, 33, 1);
--accent-color: #2196F3;
--white-color: #ffffff;
--accent-white-color: rgba(255, 255, 255, 1);
--second-accent-white-color: rgba(255, 255, 255, 0.6);
--background-color: rgba(47, 48, 58, 1);
--second-background-color: #F5F4FA;
--third-bgc-color: #C4C4C4;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--primery-text-color)
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}

/* Site-nav */

.nav {
    border-bottom: 1px solid #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
}

.site-item + .site-item {
    margin-left: 50px;
}

.nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

.nav-list .link:hover {
    color: var(--accent-color);
}

.nav-list .link:focus {
    color: #80c6ff;
}

/* Auth-nav */
.auth-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
}

.auth-list .auth-item + .auth-item {
    margin-left: 50px;
}

.auth-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}
.auth-list .link:hover {
    color: var(--accent-color);
}

.auth-list .link:focus {
    color: #80c6ff;
}

.auth-list .tell {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

.tell:hover {
    color: var(--accent-color);
}

/* Герой */

.outline {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--third-bgc-color);
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ), 
    url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section {
    padding: 200px 0px 208px;
}

.title-container {
    width: 696px;
    margin: 0 auto;
}

.hero-tittle {
    margin: 0px;

    color: var(--accent-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    text-decoration: none;
    text-align: center;
}

.hero-section .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 10px 32px;
    width: 250px;
    height: 50px;
    border-radius: 4px;

    color: var(--white-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-align: center;
}

/* Список переваг */

.benefits-section {
    padding: 94px 15px;
}

.benefits-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.benefits-item .title {
    margin: 0px 0px 10px 0px;

    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}

.benefits-item .text {
    margin: 0px;

    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.benefits-item + .benefits-item{
    margin-left: 30px;
}

/* Резюме */

.resume {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 94px;

    /* background-color: purple; */
}

.resume .section-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
}

.site-img {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.img-item:not(:last-child) {
    margin-right: 30px;
}

/* Команда */

.team-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 15px;

    background-color: var(--second-background-color);
}

.main-section-title {
    margin-top: 0px;
    margin-bottom: 50px;
    /* padding-top: 94px; */

    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.team {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
    border-radius: 5px;
    box-shadow: 0px 1px 2px #757575;

    background-color: var(--white-color);

    text-align: center;
}

.main-section-title h3 {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

.main-section-title p {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

/* Футер */

.footer-bgc {
    background-color: var(--background-color);
}

.footer-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
}

.footer-section {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 60px;

    background-color: var(--background-color);
}

.footer-address {
    margin-right: 100px;
}

.footer-logo {
    margin-bottom: 20px;
}

.address {
    display: flex;
    flex-direction: column;
}

.address .adress-map {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.address .adress-link {
    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}

.join {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--white-color);
}

.copyright-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;

    background-color: var(--background-color);
}

.copyright {
    margin: 0px;
    padding: 15px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);

    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}